/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
*{
    color: grey; 
}
#body{
    border: thick dotted grey;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-bottom: 20%; 
    padding-top: 5%;
    background-color: lightyellow; 
}
#submit_button {
    background-color: white;
    color: green;
    border: 2px solid green;
    text-align: center;
}
 #submit_button:hover {
        background-color: green;
        color: white;
        text-align: center;
    }
#reset_button {
    background-color: white;
    color: red;
    border: 2px solid red;
    text-align: center;
}
#reset_button:hover {
        background-color: red;
        color: white;
        text-align: center;
}
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
label{
    color: grey;
}
#about_label{
    padding-top: 6%;
}
.input_forms{
    padding-top: 1%;
}
#create_button {
    background-color: white;
    color: blue;
    border: 2px solid blue;
    text-align: center;
}
#create_button:hover {
    background-color: blue;
    color: white;
    text-align: center;
}
#login_pic {
    border: 10px solid black;
    border-radius: 50%; 
    height: 100px; 
 }
#login_pic_placement{
   
    text-align: center; 
}
#middle_place{
    text-align: center; 
}
#vertical_place{
    padding-top: .5%;
}
