@{
    ViewData["Title"] = "CreateAccount";
}





<div id="body">
    <div id="middle_place">
    <p> <b> Please fill in this form to create an account</b> </p> </div>
    <div style="padding-left: 10%">
        <div id="vertical_place" class="col-md-5 col-md-push-3">
            <div id="pushUp">
                <row>
                    <label for="email">First Name</label>
                </row>
            </div>
            <div id="pushUp">
                <row>
                    <label for="email">Last Name</label>
                </row>
            </div>
            <div id="usernamePushDown">
                <row>
                    <label for="email">Username</label>
                </row>
            </div>
            <div id="usernamePushDown">
                <label for="psw">Password</label>
            </div>
            <div id="confirmpswPushDown">
                <label for="psw-repeat">Confirm Password</label>
            </div>
            <div id="confirmpswPushDown">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="col-md-7">
            <div id="pushUp">
                <row>
                    <input id="first_name_input" type="text" placeholder="Enter First Name" name="email" required>
                </row>
            </div>
            <div id="pushUp">
                <row>
                    <input id="last_name_input" type="text" placeholder="Enter Last Name" name="email" required>
                </row>
            </div>
            <div id="pushUp">
                <row>
                    <input id="username_input" type="text" placeholder="Enter Username" name="email" required>
                </row>
            </div>
            <div id="pushUp">
                <row><input id="first_psw" type="password" placeholder="Enter Password" name="psw" required /></row>
            </div>
            <div id="pushUp">
                <input id="second_psw" type="password" placeholder="Confirm Password" name="psw-repeat" required>
            </div>

            <div id="pushUp">
                <row>
                    <input id="email_input" type="text" placeholder="Enter Email" name="email" required>
                </row>
            </div>
            <button style="width: 13%" id="create_account_submit_button" type="submit">Sign Up</button>
            <span id="buttonPushRight">
                <button style="width: 13%" id="reset_button" type="button" onclick="location.href='@Url.Action("SignIn", "Home")'">Cancel</button>
            </span>
        </div>
</div>
</div>

