@{

}

<div id="body">
        
            <button type="button" onclick="location.href='@Url.Action("Home", "Home")'">Sign In</button>
            
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required />
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
            

                <div>
                    <button id="reset_button" type="reset" value="Reset">Cancel</button>
                </div>
      </div>